body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
}

#root{
    height: 100vh;
}

main{
    margin:2.5rem;
}
.p-paginator {
    padding-top: 20px;
    padding-bottom: 10px; 
}


 .p-datatable .p-sortable-column .p-sortable-column-icon {
    display: none; 
} 

.hover-row:hover {
    background-color: #c1cedb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;