.home {
  overflow: hidden;
  height: 100vh;

}

.main-home {
  margin: 8vh auto;  
  padding-right: 5vw;
  margin-left: 5%;
}

.login {
  width: 40vw;
  height: 55vh;
}

.signup {
  width: 50vw;
  height: 70vh;
  background-color: #ffffff;
}

.left-side {
  padding-left: 10%;
  padding-bottom: 7%;
  height: 80vh;
  width: 40vw;
 justify-content: space-between;

 
}

@keyframes anm {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-animation {
  animation: anm 5s ease-in infinite;
}
